<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

	body{
		background-color: #638CB8;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #000000;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #00346e;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}

</style>

<div class="center-column">

    <form method="post" action="/">
        {% csrf_token %} 
        {{form.title}}
        <input type="submit" name="create task" class="btn btn-info submit">
    </form>

    <div class="todo-list">
        {% for task in tasks %}
            <div class="item-row">
                <a href=" {% url 'update_task' task.id %} " class="btn btn-sm btn-info">Update</a>
                <a href=" {% url 'delete_task' task.id %} " class="btn btn-sm btn-danger">Delete</a>

                {% if task.complete == True %}
                    <strike>{{task.title}}</strike>
                {% else %}
                    <span>{{task.title}}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>   
</div>
